.body {
  background-color: #ccc;
  margin: ;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background:linear-gradient(120deg, )
}

.container {
  display: flex;
  width: 50%;
  height: 70vh;
  border: 1px solid;
  margin: 40px auto;
  padding-top: ;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: ;
  width: 55%;
  height: 70vh;
  border: 1px solid#ccc;
  background-color: rgb(145, 112, 145);
}
.left img {
  width: 60%;
  height: 40vh;
  margin-left: 60px;
  margin-top: 30px;
}
.trade p {
  text-align: center;
  margin: 0 20px;
}
.trade h4 {
  margin-top: ;
  line-height: 0;
  text-align: center;
}

.right {
  width: 45%;
  height: 70vh;
  background-color: purple;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  width: ;
  height: 60vh;
  box-sizing: border-box;
}

.txt-field{
    border-bottom: 2px solid silver;
    width: 90%;
    margin-top:5px ;
}
.txt-field input{
    box-sizing: border-box;
    width:100%;
    padding: 0 5px;;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
input:hover{
    border:;
    background-color: ;
    color: ;
}
/*.txt-field label{
    position: relative;
    top: 10px;
}*/
.form div{
    margin-left: 15px;
}
.form h4{
    text-align: center;
    font-weight: lighter;
}
.submit{
    margin: 10px 0;
    border: 1px solid;
    background: #ccc;
    color: #fff;
    width: 80%;
    align-content: center;
    text-align: center;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.input [type="submit"]{
    border: none;
}